{% extends 'admin/base_site.html' %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo;
    <a href="{% url 'admin:app_list' app_label='logbook' %}">Logbook</a>
    &rsaquo;
    Export
</div>
{% endblock %}
{% endif %}

{% block content %}
<p>
    By pressing the below button you will make <strong>ALL</strong> finalised log books which are currently active in the system inactive.
    This means:
    <ul>
        <li>Students will <strong>NOT</strong> be able to see them anymore.</li>
        <li>They <strong>MAY</strong> be edited by the administrator.</li>
    </ul>
</p>
<p>
    If you understand the above please press the button below.
</p>
<form action="./clear_finalised_logbooks" method="post">
    {% csrf_token %}
    <button type = "submit" value="Submit" class = "btn" data-dismiss = "modal">Clear Log Books</button>
</form>
{% endblock %}
