{% extends 'admin/base_site.html' %}

{% if not is_popup %}

{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo;
    <a href="{% url 'admin:app_list' app_label='logbook' %}">Logbook</a>
    &rsaquo;
    Export
</div>
{% endblock %}
{% endif %}

{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="{% static '/css/admin_logbook.css' %}">

{% if unexported_entries == 0 %}
<h2>0 un-exported Log Book/s still in the system. <span class="glyphicon glyphicon-ok icon-success"></span></h2>
<p class="text">
    By pressing the below button you will make <strong>ALL</strong> finalised log books which are currently active in the system inactive.
    This means:
    <ul>
        <li class="text">Students will <strong>NOT</strong> be able to see them anymore.</li>
        <li class="text">They <strong>MAY</strong> be edited by the administrator.</li>
    </ul>
</p>
<p class="text">
    If you understand the above please press the button below.
</p>
<form action="./clear_finalised_logbooks" method="post">
    {% csrf_token %}
    <button type = "submit" value="Submit" class = "btn btn-primary" data-dismiss = "modal">Clear Log Books</button>
</form>
{% else %}
<h2>{{ unexported_entries }} un-exported Log Book/s still in the system. <span class="glyphicon glyphicon-remove icon-warning"></span></h2>
<p class="text">Automatic clearing of finalised logbooks has been <strong>restricted</strong>, although is possible manually.</p>
{% endif %}
{% endblock %}
