{% extends 'admin/base_site.html' %}

{% if not is_popup %}
{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo;
    <a href="{% url 'admin:app_list' app_label='logbook' %}">Logbook</a>
    &rsaquo;
    Export
</div>
{% endblock %}
{% endif %}

{% block content %}
<p>
    Some basic statistics may be downloaded to your computer. These will include the following statistics:
    <ul>
        <li>Number of students who have used the system in the last year.</li>
        <li>Number of hours logged in the past year.</li>
        <li>Number of organisations in the system.</li>
    </ul>
</p>
<p>
    Please press the buton below to download
</p>
<form action="./statistics" method="post">
    {% csrf_token %}
    <button type = "submit" value="Submit" class = "btn" data-dismiss = "modal">Download</button>
</form>
{% endblock %}
