{% extends 'admin/base_site.html' %}

{% if not is_popup %}
{% load static %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">Home</a>
    &rsaquo;
    <a href="{% url 'admin:app_list' app_label='logbook' %}">Logbook</a>
    &rsaquo;
    Export
</div>
{% endblock %}
{% endif %}

{% block content %}
<link rel="stylesheet" href="{% static '/css/admin_logbook.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

{% if unexported_entries == 0 %}
<h2>0 un-exported Log Book/s still in the system. <span class="glyphicon glyphicon-ok icon-success"></span></h2>
<p class="text">
    Some basic statistics may be downloaded to your computer. These will include the following statistics:
    <ul>
        <li class="text">Number of students who have used the system in the last year.</li>
        <li class="text">Number of hours logged in the past year.</li>
        <li class="text">Number of organisations in the system.</li>
    </ul>
</p>
<p class="text">
    Please press the button below to download
</p>
<form action="./statistics" method="post">
    {% csrf_token %}
    <button type = "submit" value="Submit" class = "btn btn-primary" data-dismiss = "modal">Download</button>
</form>
{% else %}
<h2>{{ unexported_entries }} un-exported Log Book/s still in the system. <span class="glyphicon glyphicon-remove icon-warning"></span></h2>
<p class="text">
    Some basic statistics may be downloaded to your computer. These will include the following statistics:
    <ul>
        <li class="text">Number of students who have used the system in the last year.</li>
        <li class="text">Number of hours logged in the past year.</li>
        <li class="text">Number of organisations in the system.</li>
    </ul>
</p>
{% endif %}

{% endblock %}
