{% extends 'base.html' %}

{% block titleblock %}Reset Password{% endblock %}

{% block bodyblock %}
<div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3 main">
    <h2 class="page-header">Reset Your Password</h2>
    <p>
        If you would like to reset the password for you account please enter your email address below.
    </p>
    <p>
        For assistance during this process feel free to email <a target="_top" href="mailto:volunteering@guild.uwa.edu.au" style="text-decoration: underline">Guild Volunteering</a>.
    </p>
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
         {{ form.email.errors }}
        <p><label for="id_email">E-mail address:</label> {{ form.email }}</p>
        <input type="submit" value="Reset password" />
    </form>
</div>
{% endblock %}
