<html lang="en">

{% extends 'base.html' %}

{% block titleblock %}Reset Password{% endblock %}

{% block bodyblock %}
<div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
    <form action="" method="post">
        <div style="display:none">
            <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
        </div>
         {{ form.email.errors }}
        <p><label for="id_email">E-mail address:</label> {{ form.email }} <input type="submit" value="Reset password" /></p>
    </form>
</div>
{% endblock %}
