<html lang="en">

{% extends 'base.html' %}

{% load static %}

{% block titleblock %}Guild Volunteering System{% endblock %}

{% block headerblock %}
<style>
    .click:hover {
        cursor: pointer;
    }
</style>
{% endblock %}


{% block sideblock %}
<div class="col-sm-2 col-md-2 sidebar" id="sidebar" style='padding-bottom:6%;'>
    <ul class="nav" style="display: inline-block;">
        <li>
            <h3 style="color:1c1c1e;">Overview</h3>
            <ul class="nav nav-stacked left-submenu" id="item1">
                <li class="active"><a href="#">Manage Log Books</a><span class="sr-only">(current)</span></li>
            </ul>
        </li>

        <li>
            <h3 style="color:1c1c1e;">Options</h3>
            <ul class="nav nav-stacked left-submenu" id="item2">
                <li><a data-toggle="modal" href="#addBookModal">Add Log Book</a></li>
                <li><a href="#edit_book">Edit Log Book</a></li>
                <li><a href="#" onclick="doAction('submit')">Submit Log Book/s</a></li>
                <li><a data-toggle="modal" href="#deleteBookModal">Delete Log Book/s</a></li>
                {% if isFinalisable %}
                <li><a data-toggle="modal" href="#finaliseBookModal">Finalise Log Book/s</a></li>
                {% endif%}
            </ul>
        </li>
        <br>
        <li>
            <a href="{% url 'logbook:index' %}"><span class="glyphicon glyphicon-home"></span> Home</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block bodyblock %}
<div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Manage Your Log Books</h1>
    <div class="table-responsive">
        <form action="." method="post" id="modelForm">
            {% csrf_token %}
            <select name="selectedAction" hidden="true" id="actions">
                <option value="none"></option>
                <option value="submit">Submit</option>
                <option value="delete">Delete</option>
                <option value="finalise">Finalise</option>
            </select>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        {% for header in headers %}
                        <th><a href="?order={{header.1}}"> {{header.0}} </a></th>
                        {% endfor %} {% comment %}
                        <th>Name</th>
                        <th>Organisation</th>
                        <th>Description</th>
                        <th>Last Updated</th>
                        {% endcomment %}
                        <th class="visible-xs">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% if logbooks %}
                    {% for logbook in logbooks %}
                    <tr class="">
                        <td><input type="checkbox" name="model_selected" value="{{ logbook.id }}"></td>
                        <td><a href="{% url 'logbook:view' logbook.id %}">{{ logbook.name }}</a></td>
                        {# TODO make this use the headers instead of hardcoded #}
                        <td><a target="blank" href="http://www.google.com/search?q={{ logbook.organisation }}">{{ logbook.organisation }}</a></td>
			<td>{{ logbook.category }}
                        <td>{{ logbook.description }}</td>
                        <td class="visible-xs">
                            <button class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-edit"></span></button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
            
            {% if approvedbooks %}
            <hr>
            <h2 class="sub-heading">Log Books Ready To Be Finalised</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        {% for header in headers %}
                        <th><a href="?order={{header.1}}"> {{header.0}} </a></th>
                        {% endfor %} {% comment %}
                        <th>Name</th>
                        <th>Organisation</th>
                        <th>Category</th>
                        <th>Description</th>
                        {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for logbook in approvedbooks %}
                    <tr class="success">
                        <td><input type="checkbox" name="model_selected" value="{{ logbook.id }}"></td>
                        <td><a href="{% url 'logbook:view' logbook.id %}">{{ logbook.name }}</a></td>
                        {# TODO make this use the headers instead of hardcoded #}
                        <td><a href="http://www.google.com/search?q={{ logbook.organisation }}">{{ logbook.organisation }}</a></td>
			<td>{{ logbook.category }}
                        <td>{{ logbook.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
            {% if finalisedbooks %}
                <hr>
            <h2 class="sub-heading">Past Log Books</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        {% for header in headers %}
                        <th><a href="?order={{header.1}}"> {{header.0}} </a></th>
                        {% endfor %} {% comment %}
                        <th>Name</th>
                        <th>Organisation</th>
                        <th>Category</th>
                        <th>Description</th>
                        {% endcomment %}
                    </tr>
                </thead>
                <tbody>
                    {% for logbook in finalisedbooks %}
                    <tr class="success">
                        <td><input type="checkbox" name="model_selected" value="{{ logbook.id }}"></td>
                        <td>{{ logbook.name }}</td>
                        {# TODO make this use the headers instead of hardcoded #}
                        <td><a href="http://www.google.com/search?q={{ logbook.organisation }}">{{ logbook.organisation }}</a></td>
			<td>{{ logbook.category }}
                        <td>{{ logbook.description }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </form>
    </div>
    <div class='btn-toolbar'>
        <div class="btn-group">
            <button type="button" class="btn btn-primary visible-xs" data-toggle="modal" data-target="#addBookModal">Add Log Book</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger visible-xs" data-toggle="modal" data-target="#deleteBookModal">Delete Log Book/s</button>
        </div>
        {% if isFinalisable %}
        <div class="btn-group">
            <button type="button" class="btn btn-success visible-xs">Finalise Log Book/s</button>
        </div>
        {% endif %}
    </div>
</div>

<div class = "modal fade" id = "addBookModal" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
    <div class = "modal-dialog">
        <div class = "modal-content">

            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
                <h4 class = "modal-title" id = "myModalLabel">Add Log Book</h4>
            </div>
            <form action="." method="post">
            <div class = "modal-body">
                <div class="row" style="padding-top: 10">
                    <div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
                            {% csrf_token %} 
                            {{ form.as_p}}
                    </div>
                </div>
            </div>

            <div class = "modal-footer text-left">
                <button type = "button" class = "btn btn-default" data-dismiss = "modal">Close</button>
                <button type = "submit" value="Submit" class = "btn btn-primary">Add</button>
            </div>
            </form>
          </div>
    </div>
</div>
<div class = "modal fade" id = "deleteBookModal" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
    <div class = "modal-dialog">
        <div class = "modal-content">

            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
                <h4 class = "modal-title" id = "myModalLabel">Delete Log Book</h4>
            </div>
            
            <div class = "modal-body">
                <div class="row" style="padding: 10">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>Are you sure you want to delete this Log Book?</p>
                        <p>Doing so will remove all the books with only <strong>unapproved</strong> and <strong>pending</strong> entries, any books with approved entries will <strong>not</strong> be deleted.</p>
                    </div>
                </div>
            </div>

            <div class = "modal-footer text-left">
                <button type = "button" class = "btn btn-default" data-dismiss = "modal">Cancel</button>
                <button onClick="doAction('delete')" class = "btn btn-primary">Confirm</button>
            </div>
          </div>
    </div>
</div>
<div class = "modal fade" id = "finaliseBookModal" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
    <div class = "modal-dialog">
        <div class = "modal-content">

            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
                <h4 class = "modal-title" id = "myModalLabel">Finalise Log Book/s</h4>
            </div>
            
            <div class = "modal-body">
                <div class="row" style="padding: 10">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>Are you sure you want to finalise this Log Book?</p>
                        <p>Doing so will make the book/s unchangeable despite being visible. If you accidentally finalise a  book please contact Guild Volunteering to undo this action.</p>
                    </div>
                </div>
            </div>

            <div class = "modal-footer text-left">
                <button type = "button" class = "btn btn-default" data-dismiss = "modal">Cancel</button>
                <button onClick="doAction('finalise')" class = "btn btn-primary">Finalise</button>
            </div>
          </div>
    </div>
</div>
{% endblock %}

{% block footerblock %}
<script type="text/javascript">
    form = document.getElementById('modelForm');
    actions = document.getElementById('actions');
    function doAction(action) {
        actions.value = action;
        form.submit();
    }
</script>
{% endblock%}

