<html lang="en">

{% extends 'base.html' %}

{% block titleblock %}Guild Volunteering System{% endblock %}

{% block sideblock %}
<div class="col-sm-4 col-md-2 sidebar" id="sidebar">
    <ul class="nav" id="menu" style="display: inline-block;">
        <li>
            <h3 style="color:1c1c1e;">Overview</h3>
        </li>

    </ul>
</div>
{% endblock %}

{% block bodyblock %}
<div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
</div>
{% endblock %}

<style>
    .click:hover {
        cursor: pointer;
    }
</style>
