<html lang="en">

{% extends 'base.html' %}

{% block titleblock %} {{ title }} {% endblock %}

{% block sideblock %}
<div class="col-sm-4 col-md-2 sidebar" id="sidebar">
    <ul class="nav" id="menu" style="display: inline-block;">
        <li><a href="{% url 'logbook:view' book.id %}">Back</a></li>
    </ul>
</div>
{% endblock %}

{% block bodyblock %}
<div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">{{title}}</h1>
    <form action="." method="post">
        {% csrf_token %} {{ form.as_p}}
        <button class="btn" type="submit" value="Submit">Create</button>
    </form>
</div>
{% endblock %}
