<html lang="en">

{% extends 'base.html' %}

    {% block titleblock %}Guild Volunteering System{% endblock %}

    {% block sideblock %}
	<div class="col-sm-4 col-md-2 sidebar">
	  
	  <h3>Overview</h3>
          <ul class="nav nav-sidebar">
              <li class="active"><a href=".">Manage Log Books</a><span class="sr-only">(current)</span></li>
              <li><a href="/logbook/#statistics">Statistics</a></li>
              <li><a href="/logbook/#export">Export Log Books</a></li>
          </ul>
	
	  <h3>Log Books</h3>
          <ul class="nav nav-sidebar">
	        {% if logbooks %}
		    {% for logbook in logbooks %}
	        	<li><a href="./{{user.username}}/{{logbook.id}}">{{ logbook.name }}</a></li>
		    {% endfor %}
		{% endif %}
		<li><a href="#addbook">Add Log Book</a></li>
          </ul>
        </div>
    {% endblock %}

    {% block bodyblock %}
	<div class="col-sm-8 col-sm-offset-4 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Manage Your Log Books</h1>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
		  <th>#</th>
                  <th>Name</th>
                  <th>Organisation</th>
                  <th>Description</th>
                  <th>Created</th>
                  <th>Last Updated</th>
                </tr>
              </thead>
              <tbody>
		{% if logbooks %}
		    {% for logbook in logbooks %}
		    	<tr class = "">
		    	    <td><input type="checkbox" name="logbook-{{logbook.id}}" value="{{ logbook.id }}"></td>
                    	    <td><a href="./{{user.username}}/{{logbook.id}}">{{ logbook.name }}</a></td>
			    <td>{{ logbook.organisation }}</td>
                    	    <td>{{ logentry.description }}</td>
                    	    <td>{{ logbook.created_at }}</td>
                    	    <td>{{ logbook.updated_at }}</td>
			</tr>
		    {% endfor %}
		{% endif %}
              </tbody>
            </table>
          </div>
	</div>

    {% endblock %}