<html lang="en">

{% extends 'base.html' %}

    {% block titleblock %}Guild Volunteering System{% endblock %}

    {% block sideblock %}
	<div class="col-sm-2 col-md-1 sidebar">
	  
	  <h3>Overview</h3>
          <ul class="nav nav-sidebar">
              <li class="active"><a href=".">Manage Log Books</a><span class="sr-only">(current)</span></li>
              <li><a href="/logbook/#statistics">Statistics</a></li>
              <li><a href="/logbook/#export">Export Log Books</a></li>
          </ul>
	
	  <h3>Log Books</h3>
          <ul class="nav nav-sidebar">
	        {% if logbooks %}
		    {% for logbook in logbooks %}
	        	<li><a href="/logbook/{{ logbook.id }}">{{ logbook.name }}</a></li>
		    {% endfor %}
		{% endif %}
		<li><a href="#addbook">Add Log Book</a></li>
          </ul>
        </div>
    {% endblock %}

    {% block bodyblock %}
	<div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
          <h1 class="page-header">Manage Your Log Books</h1>
          <h2 class="sub-header"><input type="checkbox" name="logentry" value="1213"> TLG LogBook - James Belford</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
		  <th>#</th>
                  <th>Category</th>
                  <th>Description</th>
                  <th>Supervisor</th>
                  <th>Start Time</th>
                  <th>End Time</th>
                  <th>Created</th>
                  <th>Last Updated</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
		<tr class = "danger">
		    <td><input type="checkbox" name="logentry" value="2432"></td>
		    <td>Education/Tutoring</td>
                    <td>I taught.</td>
                    <td>Claire</td>
                    <td>2017-01-22 09:00:00</td>
                    <td>2017-01-22 10:00:00</td>
                    <td>2017-02-01 15:00:00</td>
                    <td>2017-02-3 11:00:00</td>
                    <td>Unapproved</td>
		</tr>
		<tr class = "success">
		    <td><input type="checkbox" name="logentry" value="2432"></td>
		    <td>Education/Tutoring</td>
                    <td>I tutored.</td>
                    <td>Claire</td>
                    <td>2017-01-24 09:00:00</td>
                    <td>2017-01-24 10:00:00</td>
                    <td>2017-02-01 15:00:00</td>
                    <td>2017-02-3 11:00:00</td>
                    <td>Approved</td>
		</tr>
              </tbody>
            </table>
          </div>
	</div>

    {% endblock %}