<html lang="en">

{% extends 'base.html' %}

{% load static %}

{% block titleblock %}
{% if book %}
    {{ book.name }}
{% else %}
    LogEntries
{% endif %}
{% endblock %}

{% block date_timeblock %}
<link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
<script>if(typeof($.fn.modal) === 'undefined') {document.write('<script src="{% static "bootstrap/js/bootstrap.min.js"%}"><\/script>')}</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.12.0/moment.js"></script>
<script src="{% static "js/bootstrap-datetimepicker.js" %}"></script>
{% endblock %}

{{ form.media }}

{% block sideblock %}
<div class="col-sm-2 col-md-2 col-lg-2 sidebar" id="sidebar">
    <ul class="nav" id="menu" style="display: inline-block;">
        <li>
            <h3 style="color:1c1c1e;">Manage Entries</h3>
            <ul class="nav nav-stacked left-submenu" id="item1">
                <li><a data-toggle="modal" href="#addEntryModal">Add Entry</a></li>
                <li><a href='#' onclick="doAction('edit')">Edit Entry/s</a></li>
                <li><a href='#' onclick="doAction('submit')">Submit Entry/s</a></li>
                <li><a data-toggle="modal" href="#deleteEntryModal">Delete Entry/s</a></li>
            </ul>
        </li>
        <li>
            <h3 style="color:1c1c1e;">Log Books</h3>
            <ul class="nav nav-stacked" id="item2">
                {% if logbooks %}
                {% for logbook in logbooks %}
                    {% if logbook.name != book.name %}
                    <li><a href="{% url 'logbook:view' logbook.id %}">{{ logbook.name }}</a></li>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </ul>
        </li>
        <li>
            <ul class="pager">
                <li class="previous"><a href="{% url 'logbook:list' %}">&larr; Back to Logbooks</a></li>
            </ul>
        </li>
    </ul>
</div>
{% endblock %}

{% block bodyblock %}
<div class="col-xs-12 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 col-lg-10 col-lg-offset-2 main">
    {% if book %}
    
    <h1 class="page-header"><a href="{% url 'logbook:list' %}" class="visible-xs">&larr;</a> {{ book.name }}</h1>
    <h3 class="sub-heading">{{ book.description }}</h3>
    {% else %}
    <h1 class="page-header">Manage Entries</h1>
    {% endif %}
    <div class="table table-responsive table-sm">
        <form action="." method="post" id="modelForm">
            {% csrf_token %}
            <select name="selectedAction" hidden="true" id="actions">
                <option value="none"></option>
                <option value="edit"></option>
                <option value="submit">Submit</option>
                <option value="delete">Delete</option>
            </select>
            <table class="table table-striped" style="table-layout: fixed; word-wrap: break-word;">
                <thead>
                    <tr>
                        <th class="col-xs-1">#</th>
                        {% comment %}
                        {% for header in headers %}
                        <th><a href="?order={{header.1}}"> {{header.0}} </a></th>
                        {% endfor %}
                        {% endcomment %}
                        <th>Name</th>
                        <th>Supervisor</th>
                        <th>Start Time</th>
                        <th>End Time</th>
                        <th class="hidden-xs">Status</th>
                        <th class="visible-xs">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% if entries %}
                    {% for logentry in entries %}
                    <tr class = "{% if logentry.status == 'Approved' %}success{% elif logentry.status == 'Pending' %}warning{% elif logentry.status == 'Unapproved' %}danger{%endif%}">
                        <td><input type="checkbox" name="model_selected" value="{{ logentry.id }}"></td>
                        <td><a href="{% url 'logbook:edit_entry' logentry.book.id logentry.id %}">{{ logentry.description }}</a></td>
                        <td class="hidden-xs hidden-sm"><a href="mailto:{{ logentry.supervisor }}">{{ logentry.supervisor }}</a></td>
                        <td class="visible-xs visible-sm"><button class="btn btn-primary" onclick="location.href='mailto:{{ logentry.supervisor }}'"><span class="glyphicon glyphicon-user"></span></button></td>
                        <td>{{ logentry.start|date:"P" }}</td>
                        <td>{{ logentry.end|date:"P"}}</td>
                        <td class="hidden-xs">{{ logentry.status }}</td>
                        <td class="visible-xs">
                            <button class="btn btn-inverse"><span class="glyphicon glyphicon-pencil"></span></button>
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </form>
    </div>
    <div class='btn-toolbar'>
        <div class="btn-group">
            <button type="button" class="btn btn-primary visible-xs" data-toggle="modal" data-target="#addEntryModal">Add Log Entry</button>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-danger visible-xs" data-toggle="modal" data-target="#deleteEntryModal">Delete Log Entry/s</button>
        </div>
    </div>
</div>
<div class = "modal fade" id = "addEntryModal" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
    <div class = "modal-dialog">
        <div class = "modal-content">

            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
                <h4 class = "modal-title" id = "myModalLabel">Add Log Entry</h4>
            </div>
            <form action="." method="post">
            <div class = "modal-body">
                <div class="row" style="padding-top: 10">
                    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                        {% csrf_token %} 
                        {{ addentry_form.as_p }}
                    </div>
                </div>
            </div>

            <div class = "modal-footer text-left">
                <button type = "button" class = "btn btn-default" data-dismiss = "modal">Close</button>
                <button type = "submit" value="Submit" class = "btn btn-primary">Add</button>
            </div>
            </form>
          </div>
    </div>
</div>
<div class = "modal fade" id = "deleteEntryModal" tabindex = "-1" role = "dialog" 
   aria-labelledby = "myModalLabel" aria-hidden = "true">
   
    <div class = "modal-dialog">
        <div class = "modal-content">

            <div class = "modal-header">
                <button type = "button" class = "close" data-dismiss = "modal" aria-hidden = "true">&times;</button>
                <h4 class = "modal-title" id = "myModalLabel">Delete Log Entry/s</h4>
            </div>
            <div class = "modal-body">
                <div class="row" style="padding-top: 10">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <p>If you confirm this action you will <strong>permanently</strong> delete the selected Log Entries, with the exception of <strong class="success">Approved</strong> entries. If for some reason you require an approved entry deleted please contact <a href="mailto:volunteering@guild.uwa.edu.au">Guild Volunteering</a>.</p>
                    </div>
                </div>
            </div>
            <div class = "modal-footer text-left">
                <button type = "button" class = "btn btn-default" data-dismiss = "modal">Cancel</button>
                <button onClick="doAction('delete')" class = "btn btn-primary">Confirm</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block footerblock %}
<script type="text/javascript">
    form = document.getElementById('modelForm');
    actions = document.getElementById('actions');
    function doAction(action) {
        actions.value = action;
        form.submit();
    }
  $("[title]").tooltip();
</script>
{% endblock%}
