<html lang="en">
    
{% extends 'base.html' %}

{% load static %}

{% block titleblock %}
    {{ user.username }}
{% endblock %}

{% block sideblock %}
    <div class="col-sm-2 col-md-2 sidebar">
        <ul class="nav" id="menu" style="display: inline-block;">
            <li>
                <h3 style="color:1c1c1e;">Account</h3>
                <li><a href="#badges">Badges</a></li>
                <li><a href="#account_details">Alter Account Details</a></li>
                <li><a href="#delete_account">Delete Account</a></li>
            </li>
            <li>
            <ul class="pager">
                <li class="previous"><a href="{% url 'logbook:index' %}">&larr; Home</a></li>
            </ul>
        </li>
        </ul>
    </div>
{% endblock %}

{% block bodyblock %}

<div id="content" class="col-xs-12 col-xs-offset-0 col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2">
    <div id="#account-content">

        <h3 class="page-header">Badges</h3>
        <div class="row text-center block-left" style="padding-top: 10">
            <div class="col-xs-3 col-sm-1 col-md-1">
                <img src="{% static "images/guild_volunteering_small.png" %}" class="img-responsive" width="100%" height="100%" alt="Manage Your Log Books">
                <h4 class="">0/1</h4>
                <span class="text-muted hidden-xs">Log Entries Added</span>
            </div>
            <div class="col-xs-3 col-sm-1 col-md-1">
                <img src="{% static "images/guild_volunteering_small.png" %}" class="img-responsive" width="100%" height="100%" alt="Manage Your Log Books">
                <h4 class="">0/1</h4>
                <span class="text-muted hidden-xs">Log Entries Added</span>
            </div>
            <div class="col-xs-3 col-sm-1">
                <img src="{% static "images/guild_volunteering_small.png" %}" class="img-responsive" width="100%" height="100%" alt="Manage Your Log Books">
                <h4 class="">0/1</h4>
                <span class="text-muted hidden-xs">Log Entries Added</span>
            </div>
            <div class="col-xs-3 col-sm-1">
                <img src="{% static "images/guild_volunteering_small.png" %}" class="img-responsive" width="100%" height="100%" alt="Manage Your Log Books">
                <h4 class="">0/1</h4>
                <span class="text-muted hidden-xs">Log Entries Added</span>
            </div>
            <div class="col-xs-3 col-sm-1">
                <img src="{% static "images/guild_volunteering_small.png" %}" class="img-responsive" width="100%" height="100%" alt="Manage Your Log Books">
                <h4 class="">0/1</h4>
                <span class="text-muted hidden-xs">Log Entries Added</span>
            </div>
            <div class="col-xs-3 col-sm-1">
                <img src="{% static "images/guild_volunteering_small.png" %}" class="img-responsive" width="100%" height="100%" alt="Manage Your Log Books">
                <h4 class="">0/1</h4>
                <span class="text-muted hidden-xs">Log Entries Added</span>
            </div>
            <div class="col-xs-3 col-sm-1">
                <img src="{% static "images/guild_volunteering_small.png" %}" class="img-responsive" width="100%" height="100%" alt="Manage Your Log Books">
                <h4 class="">0/1</h4>
                <span class="text-muted hidden-xs">Log Entries Added</span>
            </div>
            <div class="col-xs-3 col-sm-1">
                <img src="{% static "images/guild_volunteering_small.png" %}" class="img-responsive" width="100%" height="100%" alt="Manage Your Log Books">
                <h4 class="">0/1</h4>
                <span class="text-muted hidden-xs">Log Entries Added</span>
            </div>
            <div class="col-xs-3 col-sm-1">
                <img src="{% static "images/guild_volunteering_small.png" %}" class="img-responsive" width="100%" height="100%" alt="Manage Your Log Books">
                <h4 class="">0/1</h4>
                <span class="text-muted hidden-xs">Log Entries Added</span>
            </div>
            <div class="col-xs-3 col-sm-1">
                <img src="{% static "images/guild_volunteering_small.png" %}" class="img-responsive" width="100%" height="100%" alt="Manage Your Log Books">
                <h4 class="">0/1</h4>
                <span class="text-muted hidden-xs">Log Entries Added</span>
            </div>


            <table class="table table-striped">
                <tbody>
                {% if badges %}
                    {% for badge in badges %}
                    <tr class = "">
                    </tr>
                    {% endfor %}
                {% endif %}
                </tbody>
            </table>
        </div>
        
        <div id="#account_details">
            <h3 class="page-header">Account Details</h3>
            <div class="row" style="padding-top: 10">
                <div class="col-xs-6 col-sm-2 col-md-2">
                    <form action="." method="post">
                        {% csrf_token %} 
                        {{ names_form.as_p}}
                        <button class="btn" type="submit" value="Submit">Save</button>
                    </form>
                </div>
            </div>
        </div>

        <div id="#delete_account" style="padding-bottom: 20px">
            <h3 class="page-header">Delete Account</h3>
            <button class="btn btn-danger">Delete Account</button>
        </div>
    </div>
</div>

{% endblock %}