<html lang="en">

{% extends 'base.html' %}

{% block titleblock %}Guild Volunteering System{% endblock %}

{% block sideblock %}
<div class="col-sm-4 col-md-2 sidebar">

    <h3>Overview</h3>
    <ul class="nav nav-sidebar">
        <li class="active"><a href=".">Manage Log Books</a><span class="sr-only">(current)</span></li>
        <li><a href="{% url 'logbook:list' %}#statistics">Statistics</a></li>
        <li><a href="{% url 'logbook:list' %}#export">Export Log Books</a></li>
    </ul>
</div>
{% endblock %}

{% block bodyblock %}
<div class="col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Manage Your Students</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Volunteer</th>
                    <th>Entries Needing Approval</th>
                </tr>
            </thead>
            <tbody>
                {% if logbooks %}
                {% for logbook in logbooks %}
                <tr>
                    <a href="." data-target="#item1" data-toggle="collapse"><td>{{ logbook.book__user__user__first_name }} {{ logbook.book__user__user__last_name }} - {{ logbook.book__user__user__username }}</td></a>
                    <td>{{ logbook.entries_pending }}</td>
                </tr>
                <table class="table table-striped collapse" id="#item1">
                    <thead>
                        <tr>
                            <th>#</th>
                            {% for header in headers %}
                            <th><a href="?order={{header.1}}"> {{header.0}} </a></th>
                            {% endfor %}
                            {% comment %}
                            <th>Category</th>
                                <th>Supervisor</th>
                                <th>Start Time</th>
                                <th>End Time</th>
                                <th>Status</th>
                            {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% if entries %}
                        {% for logentry in entries %}
                        <tr class = "">
                            <td><input type="checkbox" name="model_selected" value="{{ logentry.id }}"></td>
                            <td>{{ logentry.description }}</td>
                            <td><a href="mailto:{{ logentry.supervisor }}">{{ logentry.supervisor }}</a></td>
                            <td>{{ logentry.start }}</td>
                            <td>{{ logentry.end }}</td>
                            <td>{{ logentry.updated_at }}</td>
                            <td>{{ logentry.status }}</td>
                        </tr>
                        {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
