{% extends 'base.html' %}

{% load static %}
{% load filters %}

{% block titleblock %}Guild Volunteering System{% endblock %}

{% block sideblock %}
<div class="col-sm-2 col-md-2 sidebar">

    <h3>Overview</h3>
    <ul class="nav nav-sidebar">
        <li class="active"><a href=".">Approve Hours</a><span class="sr-only">(current)</span></li>
    </ul>
</div>
{% endblock %}

{% block bodyblock %}
<div class="col-sm-10 col-sm-offset-2 col-md-10 col-md-offset-2 main">
    <div class="visible-xs">
        <a href="{% url 'logbook:index' %}" class="visible-xs" style="float:left"><span style="font-size: 40; position:relative;top:-10px;">&larr;</span></a> <h1 class="page-header">Approve Volunteer Hours</h1>
    </div>
    <h1 class="page-header hidden-xs">Approve Volunteer Hours</h1>
    {% if logbooks %}
    <form method="post" id="modelForm" onsubmit="return false">
            {% csrf_token %}
            <select name="selectedAction" hidden="true" id="actions">
                <option value="none"></option>
                <option value="approve"></option>
                <option value="decline"></option>
            </select>
            
        <div class="panel-group" id="accordion">
            {% for logbook in logbooks %}
                <div class="panel panel-default" id="entry-{{logbook.book__id}}" >
                    <div class="panel-heading">
                        <h4>
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{logbook.book__id}}"><h4>{{ logbook.book__user__user__first_name }} {{ logbook.book__user__user__last_name }} - {{ logbook.book__user__user__username }} <span class = "label label-danger label-as-badge" id='badge-{{logbook.book__id}}'>{{ logbook.entries_pending }}</span> </h4></a>
                    </div>

                    <div id="{{logbook.book__id}}" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table table-responsive table-striped" id="table{{logbook.book__id}}">
                                <thead>
                                    <tr>
                                        <th>Start Time</th>
                                        <th>End Time</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% if entries %}
                                    {% for logentry in entries %}
                                        {% if logentry.book.id == logbook.book__id %}
                                        <tr id="row-{{logentry.id}}">
                                            <td class="hidden"><input class="logentry" type="checkbox" name="model_selected" value="{{logentry.id}}" id="{{logentry.id}}"></td>
                                            <td>{{ logentry.start|date:"d/m/y P" }}</td>
                                            <td>{{ logentry.end|date:"d/m/y P" }}</td>
                                            <td>
                                                <div class='btn-toolbar'>
                                                    <button class="btn btn-success visible-xs" type="button" onclick="doAjax('{{logentry.id}}', '{{logbook.book__id}}', 'approve')"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span></button>
                                                    <button class="btn btn-danger visible-xs" type="button" onclick="doAjax('{{logentry.id}}', '{{logbook.book__id}}', 'decline')"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
                                                    <button class="btn btn-success hidden-xs" type="button" onclick="doAjax('{{logentry.id}}', '{{logentry.book.id}}', 'approve')">Approve</button>
                                                    <button class="btn btn-danger hidden-xs" type="button" onclick="doAjax('{{logentry.id}}', '{{logbook.book__id}}', 'decline')">Decline</button>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                </tbody>
                            </table>
                        </div>
                        <div class="panel-footer">
                            <h4>Total of {{ logbook.entries_pending_total_duration|timedelta }} to be approved</h4>
                            <button class="btn btn-success" onclick="submitAll('{{logbook.book__id}}')">Approve All</button>
                            <button class="btn btn-lg btn-inverse" onclick="location.href='mailto:{{logbook.book__user__user__username}}@student.uwa.edu.au'"><span class="glyphicon glyphicon-envelope"></span></button>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
    {% else %}
    <div style="padding-top: 10px;">
        <p><h4>You do not have any hours to approve, please come back later and check.</h4></p>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block footerblock %}
<script src="{% static 'js/ajax.js' %}"></script>
{% endblock%}
